@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FDFDFD;
    color: #0B0B0B;
  }
}

::selection {
  background-color: #C5E1A5;
  color: #0F3D3E;
}
